<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html">
        <title>Job Scrapper</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h1>Job Scrapper</h1>
            <h4>What job do you want?</h4>
            <form action="/search">
                <input type="text" name="skill" placeholder="Write one skill please" />
                <button>Search</button>
            </form>
        </main>
    </body>
</html>
